{% extends "receipts/layout.html" %}

{% block head %}

<style>
.wrapper {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.upload-title {
    margin-top: 30px;
}
.drop-zone {
    background-color: lightgrey;
    border-radius: 20px;
    border-style: dashed;
}
</style>

    {% endblock %}


{% block title %}
upload now
{% endblock title %}

{% block content %}

<div class="container-upload wrapper">
    <h2 class="upload-title">Upload Here</h2>

    <!-- <form action="{% url 'upload-view' %}" method="POST"  enctype="multipart/form-data"> -->
    <form action="{% url 'upload-view' %}" method="POST" class="dropzone mt-5 drop-zone" id="my-awesome-dropzone" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fallback">
            <input name="file" type="file" multiple/>
        </div>
        <button type="submit" id="upload-button">Submit</button>
        <!-- Set the URL in a data attribute -->
        <div id="dropzone-config" data-upload-url="{% url 'upload-view' %}"></div>
    </form>

</div>



<script>
    
// DROPZONE 
Dropzone.options.myAwesomeDropzone = {
    init: function() {
        this.on("sending", function(file, xhr, formData) {
            formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        });
    }  
};

// Get the URL from the data attribute
const uploadUrl = document.getElementById('dropzone-config').getAttribute('data-upload-url');

Dropzone.autoDiscover=false;
const myDropzone= new Dropzone('#my-awesome-dropzone',{
    // url: `{% url "upload-view" %}`,
    url: uploadUrl,
    paramName: 'file', 
    maxFiles:5,
    maxFilesize:10,
    acceptedFiles:'.pdf,.jpg,.png', 
    autoProcessQueue: false,  // Prevent automatic upload
})

document.querySelector("#upload-button").addEventListener("click", function() {
    myDropzone.processQueue();  // Trigger the file upload manually
});

// alert upon successful uploading ///////////////
document.getElementById('dropzone').onsubmit = function(event) {
    event.preventDefault();  // Prevent form from submitting normally

    var formData = new FormData(this);

    fetch("{% url 'upload-view' %}", {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            alert(data.message);  // Display success message in an alert
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
};
// alert upon successful uploading ///END END /////

</script>

{% endblock %}
