{% extends "receipts/layout.html" %}

{% block head %}
<style>
.sortview-sortsection {
    margin-top: 2cap;
    margin-left: 80px;
    margin-bottom: 10px;
}
.sortview-table {
    border: 1px solid gray;
    border-collapse: collapse;
    border: 1px solid gray;
    margin-left: 10px;
}
.sortview-tabledata {
    border: 1px solid gray;
}
.sortview-tabledata td {
    border: 1px solid gray;
}
.sortview-table-header {
	background-color: gray;
	color: white;
	font-weight: bold;
	text-align: center;
}
.width100px {
    width: 100px;
}
.width50px {
    width: 50px;
    text-align: center;
}
.sort-button {
    border-radius: 5px;
    padding: 3px;
}
.hover-link {
    padding: 0px; /* Optional padding */
}
    
.hover-link:hover {
    background-color: #b5d8df; /* Change background color on hover */
    color: blue; /* Change text color on hover */
    font-weight: 800;
    padding-left: 5px;
    transition: 0.8s;
}

.control-screen {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.left-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
}
.right-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    max-height: 100vh;
}
.price-cell {
    text-align: right;
    padding-right: 5px;
}
</style>
    {% endblock %}


{% block content %}
{% load humanize %}
<div>
        
    <div>
        <!-- 日付と項目コードを入力 -->

        <div class="sortview-sortsection">
            <form id="" action="{% url 'sort_list' %}">
                {% csrf_token %}
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ソートする期間の開始期間を選んでください"><input class="date-input" type="date" name="sort_start" value="{{ sort_start }}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ソートする期間の終了期間を選んでください"><input class="date-input" type="date" name="sort_end" value="{{ sort_end }}"></a>
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ソートする期間の見たい費用項目を選択してください">
                    <select name="sort_account">
                    <option value="全て">全て</option>
                    {% for option in options %}
                        <option value="{{ option.項目コード }}" {% if option.項目コード == sort_account %}selected{% endif %}>
                            {{ option.項目短縮名 }}
                        </option>
                    {% endfor %}
                </select></a>
                <button class="sort-button">ソートする</button>
            </form>
        </div>
        <!-- <div class="upper-button-half-top"> -->
    <div class="control-screen">
        <div class="left-screen">
            <h2>レシート内容リスト表示</h2>
            <form id="sortupdateForm" method="post" action="">
                {% csrf_token %}
                <table class="sortview-table">
                    <thead>
                        <tr class="sortview-table-header">
                            <th class="width100px">日付</th>
                            <th class="width100px">種類</th>
                            <th class="width100px">価格</th>
                            <th><a href="#" data-bs-toggle="tooltip" data-bs-title="下の箇所をクリックすると国税庁の登録番号のサイトを表示させることができます。" style="color: white;">登録番号</a></th>
                            <th>備考</th>
                            <th class="width100px"><a href="#" data-bs-toggle="tooltip" data-bs-title="下の箇所をクリックすると対応するレシートを下部に表示させることができます。" style="color: white;">PDF番号</a></th>
                            <th class="width100px"><a href="#" data-bs-toggle="tooltip" data-bs-title="下の箇所をクリックすると対応するレシートを下部に表示させることができます。" style="color: white;">レシートID</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ocr in items %}
                            <tr class="sortview-tabledata">
                                <!-- <td><input class="date-input" type="date" name="date_field_{{ forloop.counter }}" value="{{ ocr.日付|date:'Y-m-d'  }}"readonly></td> -->
                                <td><span>{{ ocr.日付|date:'Y-m-d'  }}</span></td>
                                <td>
                                    <span>{{ ocr.項目コード.項目短縮名 }}</span>
                                </td>
                                <td class="price-cell"><span>{{ ocr.価格|intcomma }}</span></td>
                                <td class="hover-link"> 
                                    <a href="https://www.invoice-kohyo.nta.go.jp/regno-search/detail?selRegNo={{ ocr.登録番号 }}" target="_blank">
                                    <!-- <input type="text" name="registration_number_{{ forloop.counter }}" value="{{ ocr.登録番号 }}" readonly> -->
                                        <span style="cursor: pointer; color: blue; text-decoration: underline; display: block; width: 130px; height: 100%; margin-left: 5px;">
                                            {{ ocr.登録番号 }}
                                        </span>
                                    </a>
                                </td>
                                <td><span></span>{{ ocr.備考 }}</td>
                                <td class="hover-link">
                                    </span><a href="#" class="width100px" style="display: block; width: 100%; height: 100%;text-decoration: none;"  onclick="selectItem(event, '{{ ocr.id }}', '{{ MEDIA_URL }}{{ ocr.PDF番号.upload }}'); return false;">
                                    <span>{{ ocr.PDF番号.id }}</span>
                                    </a>
                                </td>
                                <td class="hover-link">
                                    <a href="#" class="width100px" style="display: block; width: 100%; height: 100%;text-decoration: none;"  onclick="selectItem(event, '{{ ocr.id }}', '{{ MEDIA_URL }}{{ ocr.PDF番号.upload }}'); return false;">
                                        <span>{{ ocr.id }}</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                            
                    </tbody>
                </table>
            </form>
        </div>   <!--  upper half end-->
        <!-- <div><button id="updateBtn" name="sortupdate" type="button">Update button</div> -->
        <!-- </div>  upper half button top -->


        <div class="right-screen">
            <div>
                <form id="navigateForm" method="GET" action="">
                    <div >
                        <label for="hiddenId">レシートID: </label>
                        <input type="text" name="id"  id="hiddenId" value="{{ options.first.id }}">
                        <input type="hidden" name="imageUrl" id="hiddenImageUrl" value="{{ MEDIA_URL }}{{ options.first.upload }}">
                    </div>
                </form>
                <img id="displayImage" src="{{ MEDIA_URL }}{{ options.first.upload }}" alt="Image" style="max-width: 100%;">
            </div>  
        </div>     <!--  lower half end-->
    </div>  <!--  LEFT half end-->
    </div>  <!--  CONTROL SCREEN-->
    
    
</div>  <!-- container // total-vision // ends-->



<script>


    function updateBottomSection(id, imageUrl) {
        // Update the form hidden fields
        document.getElementById('hiddenId').value = id;
        document.getElementById('hiddenImageUrl').value = imageUrl;

        // Update the image display
        var imgElement = document.getElementById('displayImage');
        imgElement.src = imageUrl;

        // Update the form action URL with the new ID
        var form = document.getElementById('navigateForm');
        form.action = "{% url 'input_view' 0 %}".replace('0', id);
   
    }

    document.addEventListener("DOMContentLoaded", function() {
    // Set initial state for the image
    var imgElement = document.getElementById('displayImage');
    if (imgElement) {
        imgElement.src = '';  // Clear the image source
    }
    });

    function selectItem(event, itemId, mediaUrl) {
        console.log("selectItem called with itemId:", itemId);
        event.preventDefault();

        var imgElement = document.getElementById('displayImage');
        var hiddenIdElement = document.getElementById('hiddenId');
        var hiddenImageUrlElement = document.getElementById('hiddenImageUrl');

        if (!itemId || !mediaUrl) {
            console.log("No items are selected...");
            imgElement.src = '';  // Clear the image source
            imgElement.style.display = "none";  // Hide the image
            hiddenIdElement.value = '';  // Clear the hidden ID field
            hiddenImageUrlElement.value = '';  // Clear the hidden image URL field
            return;
        }

        // If a valid item is selected
        console.log("Selected itemId:", itemId);
        console.log("Selected mediaUrl:", mediaUrl);

        // Update hidden form fields
        hiddenIdElement.value = itemId;
        hiddenImageUrlElement.value = mediaUrl;

        // Update image source and show the image
        imgElement.src = mediaUrl;
        imgElement.style.display = "block";  // Show the image if it was hidden
    }

    document.addEventListener("DOMContentLoaded", function() {

        // （１）右側に表示のボタンを外側よりオペレーションする機能
        document.getElementById("updateBtn").addEventListener("click", function() {
            console.log("Submit button clicked");
            var form = document.getElementById("sortupdateForm");
            
            if (form) {
                console.log("Form exists, submitting...");
                form.submit();
            } else {
                console.log("Form not found");
            }

        });  // (1)の機能終わり



    });

    // bootstrap tooltip　を実装する
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
    

{% endblock %}

